.talks-list {
	background-color: var(--color-accent-alt);

	ul {
		list-style: none;
		gap: get-size(600);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));

		li {
			&:nth-child(even) {
				h3 {
					transform: rotate(1deg);
				}
			}
		}
	}

	h3 {
		line-height: 1.25;
		display: block;
		transform: rotate(-1deg);

		span {
			box-decoration-break: clone;
			-webkit-box-decoration-break: clone;
			background-color: black;
			color: white;
			padding-inline: 5px;
		}
	}

	a {
		display: inline-block;
	}
}
