.talks-list {
	background-color: var(--color-accent-alt);

	ul {
		list-style: none;
		gap: get-size(600);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}

	h3 {
		line-height: 1.2;
	}

	a {
		display: inline-block;
	}
}
