<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="color-scheme" content="dark light">
	<meta name="theme-color" content="#6a5193">
	<meta name="apple-mobile-web-app-title" content="James Bateson" />

	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />
	<link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/images/favicons/favicon.svg" />
	<link rel="shortcut icon" href="/images/favicons/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png" />
	<link rel="manifest" href="/images/favicons/site.webmanifest" />

	{% include "partials/global/meta-info.njk" %}
	<style>{% include "assets/css/global.css" %}</style>

	{% block head %}
	{% endblock %}
</head>

<body>
	{% include "partials/global/site-head.njk" %}
	{% block content %}
	{% endblock content %}
	{% include "partials/global/site-foot.njk" %}
	{% block foot %}
	{% endblock %}

	<script>
		if ('serviceWorker' in navigator) {
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('/service-worker.js');
			});
		}
	</script>
</body>
</html>
