{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ bannerSummary | safe }}
{% endset %}

{# Post and journal list content #}
{% set postListHeading = postsHeading %}
{% set postListSummary = postsSummary %}
{% set postListItems = collections.postFeed %}
{% set journalListHeading = journalHeading %}
{% set journalListSummary = journalSummary %}
{% set journalListItems = collections.journalFeed %}

{# Project list content #}
{% set projectListItems = collections.projects %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
	{% include "partials/components/article-list.njk" %}

	<section class="[ talks-list ] [ pad-top-700 pad-bottom-800 ]">
		<div class="[ wrapper ] [ sf-flow ]">
			<h2>Speaking and Writing</h2>
			<p>I am passionate about speaking and writing on a variety of topics. Particularly around accessibility, front-end development and mental health.</p>
			<p><strong>Note</strong>: This section is a little bit work in progress. Some items may link to video recordings or articles, some to slides and some just provide a summary of what I have done. Right now, there is nowt here. I'll aim to make this more consistent in the future. Thank you for bearing with!</p>

			<ul role="list">
				<li class="sf-flow">
					<h3><span>Testing Accessibility</span></h3>
					<p>A shared talk with Enik Jonas at a QABC meetup around the importance of testing accessibility, alongside some tips and techniques. I also gave this talk solo at MCR Fred.</p>
					<a href="https://www.youtube.com/watch?v=cyGSVHi-J4A&t=1s" rel="noreferrer">View the Testing Accessibility talk on Youtube</a>
				</li>

				<li class="sf-flow">
					<h3><span>5 HTML elements, And a partridge in a despair tree</span></h3>
					<p>An article written for the 2022 HTMHell advent calendar.</p>
					<a href="https://www.htmhell.dev/adventcalendar/2022/16/">View the 5 HTML elements, And a partridge in a despair tree on HTMHell</a>
				</li>

				<li class="sf-flow">
					<h3><span>Accessibility Champions: Trying to create an accessibility culture</span></h3>
					<p>A talk at Manchester Tech Festival 2023. Using the accessibility champions journey at Code Computerlove.</p>
				</li>

				<li class="sf-flow">
					<h3><span>Don't forget the fundementals</span></h3>
					<p>A talk given at a Junior Developers community meetup.</p>
				</li>

				<li class="sf-flow">
					<h3><span>Culture leads to conformance<span></h3>
					<p>My first ever public talk for Human Centered Design (HCD) Manchester. Filled with nerves and learned so much since and from it.</p>
				</li>
			</ul>
		</div>
	</section>

	{% include "partials/components/activity-list.njk" %}
	{% include "partials/components/journal-list.njk" %}
    {% include "partials/components/project-list.njk" %}
  </main>
{% endblock %}
