---
permalink: '/admin/index.html'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Content Manager -  James Bateson</title>

		<!-- Fixes Netlify CMS editor cursor jumping issue -->
		<style>
			[data-slate-editor] {
				-webkit-user-modify: read-write !important;
			}
		</style>

		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />
		<link rel="icon" type="image/svg+xml" sizes="any" href="/images/favicons/favicon.svg" />
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png" />
		<link rel="manifest" href="/images/favicons/site.webmanifest" />
	</head>

	<body>
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script>

		<!-- Optional: register your custom styles for the editor UI -->
		<script>
			CMS.registerPreviewStyle(`/assets/css/global.css`, { raw: false });
		</script>
	</body>
</html>
