@media print {
	.post__body--resume {
		--flow-space: 1.25rem;

		h1,
		h2,
		h3,
		h4,
		p,
		li {
			text-wrap: balance;
		}

		h2 {
			font-size: 1.5rem;
			margin-bottom: 20px;
			padding-bottom: 10px;
		}

		h3 {
			font-size: 1.25rem;

			+ ul {
				columns: 2;
				column-gap: .25rem;
			}
		}

		ul,
		ol {
			::marker {
				font-size: 1rem;
			}
		}

		&.text-500 p,
		&.text-500 li {
			font-size: .85rem;
		}
	}

	.site-head,
	.site-foot,
	.site-head__job {
		display: none;
	}

	.intro {
		color: var(--color-dark);

		// .intro__heading
		&__heading {
			font-size: 1.75rem;
			margin-top: 0;
		}

		// .intro__summary
		&__summary {
			padding-top: .85rem;

			&.text-500 {
				font-size: .85rem;
			}
		}

		// .intro__contact
		&__contact {
			margin-top: 10px;

			li {
				display: inline-block;

				svg {
					display: none;
				}

				a {
					color: var(--color-dark);
					font-size: .85rem;
				}
			}

			li + li {
				margin-left: 1rem;
				margin-top: 0;
			}
		}
	}

	.post-note--resume {
		display: none;
	}

	.post__body--resume {
		padding-top: 0;

		h2 {
			border-bottom: 1px dotted var(--color-dark);
			font-size: 1.25rem;
		}

		h3,
		.h3 {
			font-size: 1rem;

			img {
				display: none;
			}
		}

		h4 {
			font-size: .85rem;
		}

		ol,
		ul {
			::marker {
				color: var(--color-dark);
			}
		}
	}

	.post__body--resume h2 {
		margin-bottom: 20px;
	}
}
